/* 
    CSS Guide 

    1.  General Styles
    2.  Main Nav
    3.  Main beer Image
    4.  Main beer Image Contact
    5.  Why Couples Resort
    6.  About & FAQ
    7.  Contact Form
    8.  Footer
    9.  Custom Queries
    10. Tablet Queries
    11. Desktop Queries 
 */


 /* 1. ---General Styles--- */

 body {
    color: #000000;
    font-family: 'Sanchez', 'Times New Roman', serif;
 }
 
 a {
    text-decoration: none;
    transition: all .5s ease-in-out;
 }
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }
 
 .cr-red {
    color: #9a2018;
 }
 
 /* 2. ---Main Nav--- */
 

 #main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
 } 
 
 #main-nav input, #burger-con {
    display: none;
 }
  
 #main-nav input:checked ~ #burger-con {
    display: block;
 }
 
 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
 }
 
 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #242380;
 }
 
 #main-nav ul li {
    border-bottom: 1px solid #efefef;
 }
 
 
 
 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 } 
 
 .book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
 }
 
 .book-now:hover {
    box-shadow: inset 0px -120px 0px rgb(196, 28, 28);
 }
 
 #book-now-header {
    display: none;
 }
 
 #logo {
    max-width: 288px;
    margin-bottom: 20px;
 }

 #burger {
    margin-top: 50px;
 }
 
 /* 3. ---Main beer Image--- */
 
 #beer img {
    grid-column: 1/-1;
    grid-row: 1/1;
    justify-self: center;
 }
 
 #beer-main {
    height: 220px;
    /*  image keeps proper aspect ratio, is clipped to fit its container  */
    object-fit: cover;
 }
 
 #beer .grid-con {
    /* Telling this grid to live in the middle column */
    grid-column: 2/3;
    /* also telling it stay in the first row, so it overlaps the beer image */
    grid-row:1/1;
    /* get rid of margin 0 auto from the original class */
    margin: 0;
 }
 
 
 .line-seperator {
    margin-top: 20px;
    border-top: solid 3px #ffffff;
    padding-top: 20px;
 }
 
 #beer-summary p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }

 .heading {
    margin-top: 15px;
    text-align: center;
    font-size: 50px;
    color:#242380;
 }

 .sub-heading {
    text-align: center;
    font-size: 20px;
    color: #242380;
    margin-bottom: 10px;
 }

 .reviews {
    background-color: #3f3ce530 ;
 }

 
 
 
 
 
 /* 8. ---Footer--- */
 
 #footer-beer {
    background-image: url(../images/footer-mt.jpg);
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 80px;
 }
 
 /*image switching for retina screens*/
 
 @media screen and (min-resolution: 200dpi),
         screen and (min-resolution: 1.25dppx) {
    #footer-beer {
         background-image: url(../images/mobile_footer.png);
     }		
 }
 
 #footer-beer h3 {
    margin-top: 30px;
    font-size: 28px;
    margin-bottom: 16px;
 }
 
 #footer-privacy .line-seperator {
    margin-top: 0px;
 }
 
#footer-contact-info {
   display: flex;
}

 #footer-contact-info h3 {
    font-size: 23px;
 }
 
 #footer-contact-info p {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 11px;
 }
 
 #footer-nav, #footer-book-now {
    display: none;
 }
 
 
 
 
 /* 10. ---Tablet Sized Screens--- */
 
 @media screen and (min-width: 768px) {
 
    #sticky-nav-con {
       position: sticky;
       top: 0px;
       background-color: #fff;
       border-bottom: solid 1px #c3c3c3;
       z-index: 1;
    }
 
    #logo {
       margin-top: 25px;
       order: -1;
       height: 100px;
       width: 200px;

    }
 
    #button {
       display: none;
    }
 
    #burger-con {
       display: block;
       font-size: 12px;
    }
 
    #burger-con ul li, #burger-con ul li:first-child {
       border: none;
       display: inline;
    }
 
    #main-nav ul li a {
       display: inline;
    }
 
    #burger-con ul li {
       margin-right: 10px;
    }
 
    #burger-con ul li:last-child {
       margin-right: 0px;
    }
 
    #main-nav {
       border-left: 2px solid #707070;
       padding-left: 30px;
       margin-top: 4%;
       margin-bottom: 4%;
    }
 
    #beer-main {
       height: 455px;
       object-position: 30%;
    }
 
    #booking-calendar {
       display: block;
       height: 200px;
       background-color: #9a2018;
       color: #fff;
       margin-top: 50px;
       padding: 30px 10px 20px 10px;
    }
 
    #booking-calendar h3 {
       font-size: 12px;
       margin-bottom: 10px;
    }
 
    #booking-calendar input[type="date"], #booking-calendar input[type="number"] {
       padding: 4px;
       background-color: #fff;
       border: 2px solid #d6d6d6;
       border-radius: 5px;
       margin-bottom: 10px;
       font: inherit;
       width: 100%;
    }
 
    #booking-calendar input[type="submit"] {
       padding: 12px 0 12px 0;
       background-color: #CF6666;
       color: #fff;
       border: solid 2px #cf6666;
       border-radius: 10px;
       width: 100%;
       margin-top: 20px;
       text-align: center;
       transition: all 1s ease-in-out;
    }
 
    #booking-calendar input[type="submit"]:hover {
       border: solid 2px #fff;
       cursor: pointer
    }
 
    .beer-img-h2, .beer-img-h3 {
       padding: 30px 15px;
       font-size: 18px;
    }
 
    .beer-img span, .beer-img-h3 span {
       font-size: 14px;
    }
 
    .fas {
       font-size: 60px;
    }
 
    #contact {
       line-height: 22px;
       height: 214px;
       padding-top: 60px;
       font-size: 11px;
    }
 
    #contact .grid-con > div {
       width: auto;
       margin: 0;
    }
 
    #why-choose-us-nav {
       margin-top: 30px;
       margin-bottom: 30px;
    }
 
    #why-choose-us-nav ul li {
       display: inline;
       margin-right: 30px;
    }
 
    #why-choose-us-nav ul li a.selected {
       border-left: none;
       border-bottom: 5px solid #9a2018;
       padding-bottom: 25px;
    }
 
    #why-choose-us-beer {
       height: 240px;
    }
 
    .why-choose-us-image {
       float: none;
       margin-right: 0px;
       margin-top: 0px;
       position: relative;
    }
 
    .why-choose-us-image span{
       display: block;
       position: absolute;
       bottom: 30px;
       right: 0px;
       color: #fff;
       font-size: 88px;
    }
 
    .why-choose-us-image-con h2 {
       font-size: 22px;
       margin-top: 0;
       margin-bottom: 10px;
    }
 
    .why-choose-us-image-con h3 {
       font-size: 16px;
       margin-bottom: 20px;
    }
 
    .why-choose-us-image img {
       filter: grayscale(100%);
       z-index: -1;
       /* set z-index lower so images don't overlap the nav
       applying filters affects the browser painting order */
       display: block;
       /* the images were not fully filling the grid boxes, until I set them to block */
    }
 
    .why-choose-us-image-con {
       margin-bottom: 30px;
    }
 
    #hot-tub p, #hot-tub a, #hot-tub h2 {
       display: none;
    }
 
    #spa {
       background-color: #626262;
       color: #fff;
       padding: 20px;
    }
 
    #spa p {
       /* not supported in all browsers */
       display: -webkit-box;
       -webkit-line-clamp: 3;
       -webkit-box-orient: vertical;  
       text-overflow: ellipsis;
       overflow: hidden;
    }
 
    #spa a {
       color: #fff;
       padding-bottom: 5px;
    }
 
    #spa a:hover {
       border-bottom: solid 3px #9a2018;
    }
 
    #why-choose-us-bottom-nav {
       display: none;
    }
 
    #why-choose-us {
       margin-bottom: 80px;
    }
 
    .show-hide {
       display: block;
    }
 
    #about-beer {
       height: 240px;
    }
 
    #about-us-text {
       column-count: 2;
    }
 
    #about-us-text-column1 {
       margin-bottom: 80px;
    }
 
    #contact-beer {
       height: 240px;
    }
    #contact-beer-text {
       padding-top: 50px;
       margin-top: 20px;
    }
 
    #faq-text-con  {
       column-count: 2;
       text-align: left;
    }
 
    #footer-nav {
       display: block;
    }
 
    #footer-book-now {
       display: flex;
       height: 80px;
       margin-top: 40px;
    }
 
    #footer-beer {
       background-image: url(../images/footer-td.jpg);
    }
    
    /*image switching for retina screens*/
    
    @media screen and (min-resolution: 200dpi),
          screen and (min-resolution: 1.25dppx) {
       #footer-beer {
          background-image: url(../images/footer-td@2x.jpg);
       }		  
    }
 
    #footer-nav {
       margin-top: 40px;
       column-count: 2;
    }
 
    #footer-nav ul {
       list-style: none;
       margin: 0;
       padding: 0;
    }
 
    #footer-nav ul li a {
       color: #fff;
    }
 
    #footer-nav ul li {
       margin-bottom: 20px;
    }   
 
 }
 
 /* 11. ---Desktop Sized Screens--- */
 
 @media screen and (min-width: 1200px) {
    #main-header {
       height: 110px;
    }

 
    #main-nav {
       margin-top: 2%;
       margin-bottom: 2%;
       margin-left: 25px;
    }
 
    #burger-con ul li {
       margin-right: 25px;
    }
 
    #burger-con {
       font-size: 16px;
       margin-top: 28px;
    }
 
    .book-now {
       font-size: 18px;
    }
 
    #booking-calendar {
       height: 234px;
    }
 
    #check-availability {
       margin-top: 10px;
    }
 
    .beer-img-h2, .beer-img-h3 {
       font-size: 24px;
    }
 
    .beer-img-h2 span, .beer-img-h3 span {
       font-size: 16px;
    }
 
    #beer-main {
       object-position: 15%;
    }
 
    .fas {
       font-size: 90px;
    }
 
    .fa-mobile-alt, .fa-map-marker-alt {
       margin-right: 40px;
    }
 
    #why-choose-us-beer {
       height: 380px;
    }
 
    #spa p {
       display: block;
       -webkit-line-clamp: unset;
       -webkit-box-orient: unset;
       text-overflow: unset;
       overflow: auto;
    }
 
    #why-choose-us-nav {
       margin-top: 50px;
       font-size: 24px;
    }
 
    #about-beer {
       height: 380px;
    }
 
    #contact-beer {
       height: 380px;
    }
 }
 
 