/* 
    CSS Guide 

    1.  General Styles
    2.  Main Nav
    3.  Buttons section
    4.  Images
    5.  Contact Page
    6.  Footer
    7.  Custom Queries
    8.  Tablet Queries
    9.  Desktop Queries 
 */


 /* 1. ---General Styles--- */

 body {
    color: #242380;
    font-family: 'Sanchez', 'Times New Roman', serif;
    font-size: 16px;
 }
 
 a {
    text-decoration: none;
    transition: all .1s ease-in;
 }
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }
 
 
 /* 2. ---Main Nav--- */
 

 #main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
 } 
 
 #main-nav input, #burger-con {
    display: none;
 }
  
 #main-nav input:checked ~ #burger-con {
    display: block;
 }
 
 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
 }
 
 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #242380;
 }
 
 #main-nav ul li {
    border-bottom: 1px solid #efefef;
 }
 
 
 
 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 } 
 

 
 #logo {
    max-width: 288px;
    margin-bottom: 20px;
 }

 #burger {
    margin-top: 50px;
 }



/* 3, ------ BUTTON SECTION-------- */



.container {
   position: relative;
   align-items: center;
   
}

#FirstBtn {
   position: absolute;
   left: 8%;
   height: 40px;
   color:#242380;
   border-radius: 10px;
   font-size: 20px;
   border: #ffffff;
}

#SecondBtn {
   position: absolute;
   height: 40px;
   right: 15%;
   color:#242380;
   border-radius: 10px;
   font-size: 20px;
   border: #ffffff;
}

#ThirdBtn {
   position: absolute;
   height: 40px;
   right: 15%;
   color:#242380;
   border-radius: 10px;
   font-size: 20px;
   border: #ffffff;
}
 

 #overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
   display: none;
   justify-content: center;
   align-items: center;
 }
 
 .overlay-content {
   background-color: #E79C0D;
   color: #242380;
   width: 300px;
   padding: 10px;
   border-radius: 10px;
 }




 /* 4. ----- Images ----- */


 /*---Main beer Image--- */
 
 #beer img {
    grid-column: 1/-1;
    grid-row: 1/1;
    justify-self: center;
 }
 
 #beer-main {
    height: 251px;
    width: 412px;
    /*  image keeps proper aspect ratio, is clipped to fit its container  */
    object-fit: cover;
 }
 
 #beer .grid-con {
    /* Telling this grid to live in the middle column */
    grid-column: 1/-1;
    /* also telling it stay in the first row, so it overlaps the beer image */
    grid-row:1/1;
    /* get rid of margin 0 auto from the original class */
    margin: 0;
 }

 /* LITTLEONE IMAGE */
 #littleone-beer img {
   grid-column: 1/-1;
   grid-row: 1/1;
   justify-self: center;
}

#littleone-beer-main {
   width: 412px;
   height: 224px;
   /*  image keeps proper aspect ratio, is clipped to fit its container  */
   object-fit: cover;
}

#littleone-beer .grid-con {
   /* Telling this grid to live in the middle column */
   grid-column: 2/3;
   /* also telling it stay in the first row, so it overlaps the hero image */
   grid-row:1/1;
   /* get rid of margin 0 auto from the original class */
   margin: 0;
}

 /* DRINKING BEER IMAGE */

 #drinking-beer img {
   grid-column: 1/-1;
   grid-row: 1/1;
   justify-self: center;
}

#drinking-beer-main {
   width: 412px;
   height: 224px;
   /*  image keeps proper aspect ratio, is clipped to fit its container  */
   object-fit: cover;
   margin-right: 0;
}

#drinking-beer .grid-con {
   /* Telling this grid to live in the middle column */
   grid-column: 2/3;
   /* also telling it stay in the first row, so it overlaps the hero image */
   grid-row:1/1;
   /* get rid of margin 0 auto from the original class */
   margin: 0;
}



/* BEER GLASS IMAGE */


#beer-glass img {
   grid-column: 1/-1;
   grid-row: 1/1;
   justify-self: center;
}

#beer-glass-main {
   width: 412px;
   height: 251px;
   /*  image keeps proper aspect ratio, is clipped to fit its container  */
   object-fit: cover;
}

#beer-glass .grid-con {
   /* Telling this grid to live in the middle column */
   grid-column: 2/3;
   /* also telling it stay in the first row, so it overlaps the hero image */
   grid-row:1/1;
   /* get rid of margin 0 auto from the original class */
   margin: 0;
}

/* STORY PAGE */
#old-beer img {
   grid-column: 1/-1;
   grid-row: 1/1;
   justify-self: center;
}

#old-beer-main {
   width: 412px;
   height: 251px;
   /*  image keeps proper aspect ratio, is clipped to fit its container  */
   object-fit: cover;
   margin-right: 0;
}

#old-beer .grid-con {
   /* Telling this grid to live in the middle column */
   grid-column: 2/3;
   /* also telling it stay in the first row, so it overlaps the hero image */
   grid-row:1/1;
   /* get rid of margin 0 auto from the original class */
   margin: 0;
}

#new-beer-story img {
   grid-column: 1/-1;
   grid-row: 1/1;
   justify-self: center;
}

#new-beer-story-main {
   padding-top: 20px;
   height: 251px;
   width: 412px;
   /*  image keeps proper aspect ratio, is clipped to fit its container  */
   object-fit: cover;
}

#new-beer-story .grid-con {
   /* Telling this grid to live in the middle column */
   grid-column: 1/-1;
   /* also telling it stay in the first row, so it overlaps the beer image */
   grid-row:1/1;
   /* get rid of margin 0 auto from the original class */
   margin: 0;
}
 
 .line-seperator {
    margin-top: 20px;
    border-top: solid 3px #ffffff;
    padding-top: 20px;
 }
 
 .beer-summary p {
    padding-top: 15px;
    line-height: 22px;
 }

 .heading {
    margin-top: 15px;
    text-align: center;
    font-size: 50px;
    color:#242380;
 }

 .sub-heading {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    color: #242380;
    margin-bottom: 10px;
    padding-bottom: 10px;
 }

 .reviews {
    background-color: #3f3ce530 ;
 }




/* 5. ------Contact Page------- */




#contact-beer-form form {
   display: flex;
   flex-direction: column;
}

#contact-beer-form input, textarea {
   padding: 22px;
   border: 2px solid #d6d6d6;
   background-color: #f7f7f7;
   border-radius: 5px;
   margin-bottom: 30px;
   font: inherit;
   width: 100%;
}

#contact-beer-form textarea {
   height: 250px;
}

#contact-beer-form input[type="submit"] {
   padding: 12px 28px;
   background: #242380;
   color: #fff;
   border: none;
   transition: all 200ms ease-in;
   width: 150px;
   align-self: flex-end;
}

#contact-beer-form input[type="submit"]:hover {
   background-color: #626262;
   border-radius: 0;
}

 
 
 
 
 /* 6. ---Footer--- */
 


 #footer-beer {
    background-image: url(../images/footer-mt.jpg);
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    color: #fff;
    margin-top: 40px;
    padding-bottom: 20px;
 }
 
 /*image switching for retina screens*/
 
 @media screen and (min-resolution: 200dpi),
         screen and (min-resolution: 1.25dppx) {
    #footer-beer {
         background-image: url(../images/mobile_footer.png);
     }		
 }
 
.footer-rights p{
   margin-top: 50px;
   text-align: center;
}

#footer-beer p {
   padding-top: 10px;
}
 #facebook {
   padding-left: 30%;
 }

 #footer-beer img {
   padding-top: 50px;
 }

 #price-policy {
   text-align: center;
 }
 #footer-nav {
    display: none;
 }
 
 
 
 
 /* 8. ---Tablet Sized Screens--- */
 




 @media screen and (min-width: 768px) {



 
    #sticky-nav-con {
       position: sticky;
       top: 0px;
       background-color: #fff;
       border-bottom: solid 1px #c3c3c3;
       z-index: 1;
    }

    #hamburger {
      display: none;
    }

    #burger {
      display: none;
    }
 
    #logo {
       margin-top: 25px;
       order: -1;
       height: 100px;
       width: 200px;

    }
 
    #button {
       display: none;
    }
 
    #burger-con {
       display: block;
       font-size: 12px;
    }
 
    #burger-con ul li, #burger-con ul li:first-child {
       border: none;
       display: inline;
    }
 
    #main-nav ul li a {
       display: inline;
       font-size: 16px;
       padding-right: 7px;
    }

    #main-nav ul li a:hover {
      font-size: 18px;
   }
 
    #burger-con ul li {
       margin-right: 10px;
    }
 
    #burger-con ul li:last-child {
       margin-right: 0px;
       padding-right: 0;
    }
 
    #main-nav {
       padding-left: 30px;
       margin-top: 4%;
       margin-bottom: 4%;
       margin-top: 12%;
    }
    
    #beer {
      text-align: center;
    }
 
    .beer-summary p {
      font-size: 18px;
   }

    #beer-main {
       height: 455px;
       object-position: 30%;
    }
 

    #contact {
       line-height: 22px;
       height: 214px;
       padding-top: 60px;
       font-size: 11px;
    }

    #contact-beer-form {
      padding-top: 50px;
    }
 
    #contact .grid-con > div {
       width: auto;
       margin: 0;
    }
 
    #contact-beer {
       height: 240px;
    }
    #contact-beer-text {
       padding-top: 50px;
       margin-top: 20px;
    }


    #FirstBtn{
      margin-left: 15%;
    }

    .overlay-content {
      width: 800px;
    }

    #beer-main {
      width: 768px;
      height: 350px;
      /*  image keeps proper aspect ratio, is clipped to fit its container  */
      object-fit: cover;
   }

    #drinking-beer-main {
      width: 503px;
      height: 400px;
      /*  image keeps proper aspect ratio, is clipped to fit its container  */
      object-fit: cover;
   }

   #littleone-beer-main {
      width: 503px;
      height: 400px;
      /*  image keeps proper aspect ratio, is clipped to fit its container  */
      object-fit: cover;
   }

   #beer-glass-main {
      width: 768px;
      height: 350px;
      /*  image keeps proper aspect ratio, is clipped to fit its container  */
      object-fit: cover;
   }

   #old-beer-main {
      width: 768px;
      height: 350px;
      /*  image keeps proper aspect ratio, is clipped to fit its container  */
      object-fit: cover;

   }

   #new-beer-story-main {
      width: 768px;
      height: 350px;
      /*  image keeps proper aspect ratio, is clipped to fit its container  */
      object-fit: cover;
   }
   
 
    #footer-nav {
       display: inline;
       text-align: center;
 
    }
 

 
    #footer-beer {
       background-image: url(../images/footer.png);
    }
    
    /*image switching for retina screens*/
    
    @media screen and (min-resolution: 200dpi),
          screen and (min-resolution: 1.25dppx) {
       #footer-beer {
          background-image: url(../images/footer.png);
       }		  
    }
 
    #footer-nav {
       margin-top: 40px;
    }
 
    #footer-nav ul {
       list-style: none;
       margin: 0;
       padding: 0;
    }
 
    #footer-nav ul li a {
       color: #fff;
       margin-left: 25px;
       margin-right: 25px;
      
    }
 
    #footer-nav ul li {
       margin-bottom: 20px;
       display: inline;
      
    }   

    #footer-rights p {
      margin-top: 50px;
    }
 
 }



 
 /* 9. ---Desktop Sized Screens--- */




 
 @media screen and (min-width: 1200px) {


    #main-header {
       height: 110px;
    }

 
    #main-nav {
       margin-top: 2%;
       margin-bottom: 2%;
       margin-left: 25px;
    }
 
    #burger-con ul li {
       margin-right: 25px;
    }

    #main-nav ul li a {
      font-size: 16px;
      padding-right: 15px;
   }

   #burger-con ul li:last-child {
      margin-right: 0px;
      padding-right: 0;
   }

 
    #burger-con {
       font-size: 16px;
       margin-top: 28px;
    }
 

    #beer-main {
       object-position: 15%;
    }
 
    #beer-main {
      width: 1200px;
      height: 516px;
      /*  image keeps proper aspect ratio, is clipped to fit its container  */
      object-fit: cover;
   }

   #beer-glass-main {
      width: 1200px;
      height: 516px;
      /*  image keeps proper aspect ratio, is clipped to fit its container  */
      object-fit: cover;
   }

   #old-beer-main {
      width: 1200px;
      height: 516px;
      /*  image keeps proper aspect ratio, is clipped to fit its container  */
      object-fit: cover;

   }

   #new-beer-story-main {
      width: 1200px;
      height: 516px;
      /*  image keeps proper aspect ratio, is clipped to fit its container  */
      object-fit: cover;
   }
 
    #about-beer {
       height: 380px;
    }
 
    #contact-beer {
       height: 380px;
    }
 }
 
 